/**** General config ****/

:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f082;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-negro: #0b0b0b;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

body {
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    background-color: var(--color-fondo);
}

/* Fuentes */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.bg-blur {
    background-color: var(--color-fondo);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.bg-img {
    background-image: url('../assets/bg-login.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0%;
    width: 80%;
    height: auto;
    object-fit: cover; 
    object-position: center;
}


/**** login.html ****/

/* Background */

.bg-login {
    background-image: url(../assets/bg-login.png);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
}

/* Login Form */

.login-main {
    height: 91dvh;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: inherit;
}

.login-card {
    width: 330px;
    min-height: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 2px 2px 15px #3333335c;
}

.card-title {
    color: var(--color-focus);
    align-self: center;
    margin: 0;
    text-shadow: 2px 2px 1px var(--color-texto);
}

.card-subtitle {
    color: var(--color-texto);
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.div-input {
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: .8rem;
}

.login-form input, .div-input select {
    padding: .4rem;
    border: 1px solid var(--color-borde);
    box-shadow: 1px 1px 5px #33333364;
    border-radius: 5px;
    width: 100%;
}

.div-input i {
    padding-left: .15rem;
}

.label-email,
.label-pass,
.create-account, 
.label-rol {
    color: var(--color-texto);
}

.label-email,
.label-pass,
.label-rol {
    font-weight: 500;
}

.forget-pass {
    align-self: flex-end;
    font-size: .87rem;
    padding-bottom: 1.7rem;
    margin-top: -1rem;
}

.forget-pass a,
.create-account a {
    color: var(--color-primario);
    text-decoration: none;
}

.form-btn,
.btn-product, .btn-comprar {
    padding: 1rem;
    text-transform: uppercase;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 5px;
}

.create-account {
    align-self: center;
    height: 20px;
    font-size: .87rem;
    padding-top: .7rem;
}

.create-account a {
    color: var(--color-primario);
    font-weight: 700;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
}

.footer-company {
    color: var(--color-texto);
    background-color: var(--color-blanco);
    width: 100%;
    font-weight: 700;
    align-self: center;
    padding: .7rem;
}


/* Efectos Hover - Focus */

#input-email:focus,
#input-pass:focus,
.form-btn:focus,
.input-select:focus,
#input-name:focus {
    outline: none;
    border: 1px solid var(--color-focus);
    box-shadow: 1px 1px 5px var(--color-focus);
}

#input-email:hover,
#input-pass:hover,
.form-btn:hover,
.input-select:hover,
#input-name:hover {
    border: 1px solid var(--color-focus);
}

.form-btn:hover, .btn-comprar:hover {
    background-color: var(--color-focus);
    color: var(--color-blanco);
}

.forget-pass a:hover,
.create-account a:hover {
    color: var(--color-focus)
}

#input-form:focus,
.search-btn:focus, .btn-comprar:focus {
    outline: none;
    border: 1px solid var(--color-negro);
    box-shadow: 1px 1px 8px var(--color-fondo);
}

#input-form:hover,
.search-btn:hover, .btn-comprar:hover  {
    border: 1px solid var(--color-negro);
    box-shadow: 1px 1px 8px var(--color-fondo);
}


/* MEDIA QUERYS */

@media (max-width: 768px) {
    .login-card {
        width: 95%;
        margin: 20px;
    }

    .card-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .login-card {
        width: 95%;
        margin: 20px;
    }

    .card-title {
        font-size: 1.5rem;
    }
}

/**** pag404.html ****/

.img404 {
    background-image: url(./assets/pag404.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: .8;
}